{% extends 'bootstrap3.html' %}


{% block bootstrap3_title %} My readings... {% endblock %}

{% block bootstrap3_content %}
<div class="page-header">
     <a href="{% url 'main-page'%}">Main page</a>
    {% if user.is_authenticated %} {% load account %}

    <a href="{% url 'logbook:book-list' %}">My books</a>
    <a href="{% url 'account_logout' %}">Log out {% user_display user %} </a>
    {% else %}
    <a href="{% url 'account_login' %}">Log in</a>
    {% endif %}
</div>

{% block content %}
{% endblock %}
{% endblock %}
