{% extends 'base.html' %}

{% block bootstrap3_title %}
The reading project - main page
{% endblock %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <h2>
            The goal is to read<br> <strong>10 000 pages</strong>
            per year.
        </h2>
    </div>
</section>


<p>
    This site is to motivate you to read more books. Enter every book you read through one year and see if you reach the goal.
</p>
<p>
    Now you can see a list of all your <a href="{% url 'logbook:book-list' %}">readed books</a>.
    {% if not user.is_authenticated %}
    <i>(You have to log in first).</i>
    {%  endif %}
</p>
{% endblock %}



