{% extends 'base.html' %}

{% block bootstrap3_title %}
The reading project - main page
{% endblock %}

{% block content %}
<!--<div class="container">-->
<h1>coś</h1>
<p>The goal is to <strong>read 10 000 pages</strong> / year</p>
<p>
    This site is to motivate you to read more books. Enter every book you read through one year and see if you reach the goal.
</p>
<p>
    Now you can see a list of all your <a href="{% url 'logbook:book-list' %}">readed books</a>.
    {% if not user.is_authenticated %}
    <i>(You have to log in first).</i>
    {%  endif %}
</p>
<!--</div>-->
{% endblock %}



